<%- include("partials/header.ejs") %>

<div class="hero px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Write. Share. Inspire.</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Your thoughts deserve to be heard. Start your blog today and connect with a community eager to read and engage with your ideas. Whether it's a personal reflection, a groundbreaking idea, or a heartfelt story, let your voice make an impact and inspire others.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="window.location.href='/post'">Get Started</button>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>